### 工具 ###
/bin/

### 依赖 ###
/pkg/

### VS Code ###
.vscode/

### IDE ###
.idea/

### 二进制包 ###
*.exe

### 备份 ###
*.gz
*.zip
*.rar
*.7z
*.tar
*.xz
*.gzip
*.bzip2

### 日志文件 ###
*.log

### 压测相关 ###
*.svg